/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color:#FFD4DB ;
}

.custom-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    display: none;  /* Chrome, Safari, and Opera */
  }
 

  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .cart-message{
    padding: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 3px;

  }
  .cart-message-icon{
    margin-bottom: 1.7rem;
  }
  .img{
    width: 45px;
    height: 45px;
    margin-right: auto;
    margin-left: auto;
  }
  